html
{
  margin-top: 25px;
}

body
{
  background-color: grey;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

.row-padding
{
  margin-top: 5px;
  margin-bottom: 5px;
}

#Selectors
{
  text-align: center;
  vertical-align: center;
}

#title_bar
{
  text-align: center;
  background-color:white;
  vertical-align: middle;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#Arrivals
{
  background-color:white;
  vertical-align: center;
  border-radius: 5px;
}
